<div class="jumbotron col-8 offset-2 mt-5">
    <h1>Login</h1>

    <div class="col-12 mt-5"></div>

    <div>
        <div class="col-6 offset-3">
            <a href="/api/login/facebook" class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
        </div>

        <div class="col-6 offset-3 mt-2">
            <a href="/api/login/github" class="btn btn-block btn-social btn-github">
                <span class="fa fa-github"></span> Sign in with Github
            </a>
        </div>
    </div>
</div>